{% extends "Blog/base.html" %}
{% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% if errors %}
   {% block title %}
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
      {% endblock %}
    {% endif %}
	{% block sidebar %}
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
	
{% endblock %}

	{% author name %}<p>You searched for: <strong>{{ query }}</strong></p>{% endblock %}
{% block content %}

        {% for author in authors %}
		{% if author = query %}
		   <p>No blogs matched your search criteria.</p>
        
        
    
{% else %}
  author: <li>{{ author.name }}</li>
   email him at: <li>{{ author.email }}</li>
{% endif %}
{% endfor %}
{% endblock %}